[Unit]
Description=Teaching Panel Celery Worker
After=network.target redis.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/var/www/teaching_panel/teaching_panel
Environment="PATH=/var/www/teaching_panel/venv/bin"
Environment="DJANGO_SETTINGS_MODULE=teaching_panel.settings"
ExecStart=/var/www/teaching_panel/venv/bin/celery -A teaching_panel worker --loglevel=info --logfile=/var/log/celery/worker.log

# Restart strategy
Restart=always
RestartSec=10s

# Limits
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
